@font-face {
  font-family: LastEp;
  src: url(../fonts/last_episode/LastEpisodeDEMO-Regular.otf);
}
@font-face {
  font-family: TN;
  src: url(../fonts/Tilt_Neon/TiltNeon-Regular-VariableFont_XROTYROT.ttf);
}
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}
html p,
html h1,
html h2,
html h3,
html h4,
html h5,
body p,
body h1,
body h2,
body h3,
body h4,
body h5 {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-color: #d9d9d9;
}
body .navbar {
  width: 100%;
}
body .navbar .header-body .btn-hamb {
  background-color: #1190CB;
}
body .navbar .header-body .page-name {
  text-decoration: underline;
}
body #opt-name {
  cursor: pointer;
}

.btn:focus,
.btn:active,
.navbar-toggler:active,
.navbar-toggler:focus,
.btn-close:focus,
.btn-close:active {
  outline: none;
  box-shadow: none;
}

.nav-link {
  position: relative;
}
.nav-link .collapse-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s;
}
.nav-link[aria-expanded=true] .collapse-icon {
  transform: translateY(-50%) rotate(90deg);
}
.nav-link .bi-journals {
  margin-right: 10px;
}

.sidebar-content {
  background-color: rgb(245, 245, 245);
  overflow-y: auto;
}
.sidebar-content .header-sidebar .btn-close {
  width: 8;
}
.sidebar-content .header-sidebar .name-shop {
  color: #F27649;
  font-weight: 500;
}
.sidebar-content .header-sidebar .status-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #b0b0b0;
  transition: all 500ms ease-in-out;
  box-shadow: 0 0 0 0 rgba(9, 165, 19, 0.5);
}
.sidebar-content .header-sidebar .status-icon.status-online {
  background-color: #4caf50;
  animation: alerta 1.5s infinite;
  color: #fff;
}
.sidebar-content .header-sidebar .status-icon.status-online i {
  font-size: 28px;
  margin-bottom: 2px;
}
.sidebar-content .header-sidebar .status-icon i {
  font-size: 25px;
}
.sidebar-content .shop-status-card {
  text-align: center;
  background-color: rgba(176, 176, 176, 0.5);
  transition: all 500ms ease-in-out;
}
.sidebar-content .shop-status-card.status-online {
  background-color: rgba(76, 175, 80, 0.5);
}
.sidebar-content .custom-switch .form-check-input, .sidebar-content .custom-switch .form-check-label {
  cursor: pointer;
  user-select: none;
}
.sidebar-content .custom-switch .form-check-input:checked {
  background-color: #4caf50 !important;
}
.sidebar-content .nav li .nav-link {
  font-weight: 500;
  color: #000;
}
.sidebar-content .nav li .nav-link:focus, .sidebar-content .nav li .nav-link:active {
  outline: none;
  box-shadow: 0px 0px 4px 2px rgba(17, 144, 203, 0.5);
  -webkit-box-shadow: 0px 0px 4px 2px rgba(17, 144, 203, 0.5);
  -moz-box-shadow: 0px 0px 4px 2px rgba(17, 144, 203, 0.5);
}
.sidebar-content .nav li .nav-link:hover {
  text-decoration: underline;
}
.sidebar-content .nav li .nav-link .icon-menu {
  font-size: 23px;
  color: #F27649;
}
.sidebar-content .nav li .nav-link.bg-active {
  background-color: rgba(17, 144, 203, 0.9);
}
.sidebar-content .nav li .sub-itens .list-group a {
  cursor: pointer;
}
.sidebar-content .border {
  transition: all 0.2s;
}

@keyframes alerta {
  0% {
    transform: scale();
  }
  70% {
    transform: scale();
    box-shadow: 0 0 0 20px rgba(69, 152, 27, 0);
  }
  100% {
    transform: scale();
    box-shadow: 0 0 0 0 rgba(69, 152, 27, 0);
  }
}
@media (max-width: 500px) {
  .navbar .header-body .page-name {
    margin-top: 7px;
  }
}
.content-master .nav-custom {
  display: flex;
  flex-direction: row;
  align-items: center !important;
  padding: 0px 35px !important;
  height: 9vh;
}
.content-master .nav-custom button {
  background-color: #1190CB;
  margin: 0;
}
.content-master .main-content {
  height: 90vh;
}
.content-master .main-content .card-orders-bg .orders h2 {
  position: sticky;
  top: 0;
  z-index: 1;
}
.content-master .main-content .card-orders-bg .orders ul#pending-orders .card-orders {
  cursor: pointer;
  padding: 10px 15px !important;
  background-color: rgba(242, 118, 73, 0.85);
}
.content-master .main-content .card-orders-bg .orders ul#pending-orders .card-orders h6 {
  font-size: 1.4rem;
  letter-spacing: 1px;
}
.content-master .main-content .card-orders-bg .orders ul#pending-orders .card-orders h6.num-order {
  width: fit-content;
  padding: 5px;
  border-radius: 10px;
  background-color: #1190cb;
  opacity: 0.9;
}
.content-master .main-content .card-orders-bg .orders ul#pending-orders .card-orders form.buttons-order button.delivery {
  display: none;
}
.content-master .main-content .card-orders-bg .orders ul#pending-orders .card-orders form.buttons-order button.completed {
  display: none;
}
.content-master .main-content .open-orders {
  padding: 0 10px;
}
.content-master .main-content .open-orders #order-details .desc-order {
  display: flex;
  flex-direction: column;
}
.content-master .main-content .open-orders #order-details .desc-order .alert {
  padding: 5px 2rem;
  font-size: 20px;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
}
.content-master .main-content .open-orders #order-details .desc-order .alert div {
  display: flex;
  gap: 10px;
}
.content-master .main-content .open-orders #order-details .desc-order .alert a {
  font-size: 2rem;
  color: #4caf50;
}
.content-master .main-content .open-orders #order-details .desc-order .datas-client {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 1rem 1.3rem;
  font-size: 1rem;
}
.content-master .main-content .open-orders #order-details .desc-order .datas-client .dt-info {
  color: #1190CB;
}
.content-master .main-content .open-orders #order-details .desc-order .datas-client .qt-orders {
  background-color: #F27649;
}
.content-master .main-content .open-orders #order-details .desc-order .datas-client .card-itens {
  text-transform: none;
  margin-top: 1rem;
}
.content-master .main-content .open-orders #order-details .desc-order .datas-client .card-itens .card-header {
  text-align: center;
}
.content-master .main-content .open-orders #order-details .desc-order .datas-client .card-itens .card-footer {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.content-master .main-content .open-orders #order-details .desc-order .datas-client .card-itens .card-footer .total-order {
  color: #008000;
}

.content-master div .card-orders-bg #pending-orders .card-orders {
  cursor: pointer;
  padding: 10px 15px !important;
  background-color: rgba(0, 0, 0, 0.5);
}
.content-master div .card-orders-bg #pending-orders .card-orders h6.num-order {
  width: fit-content;
  padding: 5px;
  border-radius: 10px;
  background-color: #1190cb;
  opacity: 1;
}

.content-master .main-content {
  height: 90vh;
}
.content-master .main-content .box-add button {
  background-color: #1190CB;
  color: #fff;
  font-weight: 500;
}
.content-master .main-content .box-add .modal {
  --bs-modal-width: 60%;
}
.content-master .main-content .box-add .modal .modal-body {
  overflow-x: hidden;
  background-color: rgb(221, 221, 221);
}
.content-master .main-content .box-add .modal .modal-body .form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: left;
}
.content-master .main-content .box-add .modal .modal-body .form label {
  font-weight: bold;
}
.content-master .main-content .box-add .modal .modal-body .form input,
.content-master .main-content .box-add .modal .modal-body .form textarea,
.content-master .main-content .box-add .modal .modal-body .form select {
  border: 1px solid #1190CB;
}
.content-master .main-content .box-add .modal .modal-body .form .header-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
}
.content-master .main-content .box-add .modal .modal-body .form .header-form .box-img {
  width: 100%;
  height: 12rem;
  border: 1px solid;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
  position: relative;
}
.content-master .main-content .box-add .modal .modal-body .form .header-form .box-img label {
  z-index: 12;
  position: absolute;
  top: 0;
  right: 0;
  color: #F27649;
  background-color: rgba(255, 255, 255, 0.8); /* Adicione um fundo branco transparente para melhorar a legibilidade */
  padding: 0 5px 5px 5px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 3rem;
}
.content-master .main-content .box-add .modal .modal-body .form .header-form .box-img img {
  width: 100%;
  height: 100%;
}
.content-master .main-content .box-add .modal .modal-body .form .header-form .datas {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.content-master .main-content .box-add .modal .modal-body .form .header-form .datas .nm-prod {
  width: 20rem;
}
.content-master .main-content .box-add .modal .modal-body .form .header-form .datas .cod-prod {
  width: 10rem;
}
.content-master .main-content .box-add .modal .modal-body .form .header-form .datas .categ-prod {
  width: 20rem;
}
.content-master .main-content .box-add .modal .modal-body .form .header-form .datas .categ-prod select {
  cursor: pointer;
}
.content-master .main-content .box-add .modal .modal-body .form .header-form .datas .vl-prod {
  width: 10rem;
}
.content-master .main-content .box-add .modal .modal-body .form .modal-footer a.close {
  border-radius: 1rem;
  font-weight: bold;
  color: #fff;
}
.content-master .main-content .box-add .modal .modal-body .form .modal-footer button {
  border-radius: 1rem;
  font-weight: bold;
  color: #fff;
}
.content-master .main-content .box-add .modal .modal-body .form .modal-footer button.save {
  background-color: #1190CB !important;
}
.content-master .main-content .card-categs div .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.content-master .main-content .card-categs div .card-header:hover {
  background-color: rgb(240, 238, 238);
}
.content-master .main-content .card-categs div .card-header .nm-categ {
  text-decoration: none;
  font-size: 1.8rem;
  color: #000;
  letter-spacing: 0.1rem;
}
.content-master .main-content .card-categs div .card-header .btn-categ {
  text-align: center !important;
  width: auto !important;
  cursor: pointer !important;
  text-decoration: none !important;
  border: none !important;
  color: white !important;
  font-weight: 500 !important;
  border-radius: 12px !important;
  padding: 5px 10px !important;
  transition: all 0.3s !important;
  outline: none !important;
  z-index: 100;
}
.content-master .main-content .card-categs div .card-header .btn-categ.on {
  background-color: #F27649;
}
.content-master .main-content .card-categs div .card-header .btn-categ.on:hover {
  background-color: #1190CB;
}
.content-master .main-content .card-categs div .card-header .btn-categ.off {
  background-color: #1190CB;
}
.content-master .main-content .card-categs div .card-header .btn-categ.off:hover {
  background-color: #F27649;
}
.content-master .main-content .card-categs .collapse .card-body,
.content-master .main-content .card-categs .collapsing .card-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
}
.content-master .main-content .card-categs .collapse .card-body .card,
.content-master .main-content .card-categs .collapsing .card-body .card {
  width: 14rem;
  height: 19rem;
  box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.5);
}
.content-master .main-content .card-categs .collapse .card-body .card .edit,
.content-master .main-content .card-categs .collapsing .card-body .card .edit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(17, 144, 203, 0.8);
  transition: all 0.3s;
  width: 40px;
  height: 40px;
  position: absolute !important;
  top: 3px !important;
  right: 3px !important;
  border-radius: 50%;
  cursor: pointer;
}
.content-master .main-content .card-categs .collapse .card-body .card .edit i,
.content-master .main-content .card-categs .collapsing .card-body .card .edit i {
  font-size: 25px;
  transition: all 0.3s;
}
.content-master .main-content .card-categs .collapse .card-body .card .edit:hover,
.content-master .main-content .card-categs .collapsing .card-body .card .edit:hover {
  background-color: #1190cb;
}
.content-master .main-content .card-categs .collapse .card-body .card .edit:hover i,
.content-master .main-content .card-categs .collapsing .card-body .card .edit:hover i {
  color: #fff;
  transform: scale(1.1);
}
.content-master .main-content .card-categs .collapse .card-body .card .modal,
.content-master .main-content .card-categs .collapsing .card-body .card .modal {
  --bs-modal-width: 60%;
}
.content-master .main-content .card-categs .collapse .card-body .card .modal .modal-body,
.content-master .main-content .card-categs .collapsing .card-body .card .modal .modal-body {
  overflow-x: hidden;
  background-color: rgb(221, 221, 221);
}
.content-master .main-content .card-categs .collapse .card-body .card .modal .modal-body .form-edit,
.content-master .main-content .card-categs .collapsing .card-body .card .modal .modal-body .form-edit {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.content-master .main-content .card-categs .collapse .card-body .card .modal .modal-body .form-edit label,
.content-master .main-content .card-categs .collapsing .card-body .card .modal .modal-body .form-edit label {
  font-weight: bold;
}
.content-master .main-content .card-categs .collapse .card-body .card .modal .modal-body .form-edit input,
.content-master .main-content .card-categs .collapse .card-body .card .modal .modal-body .form-edit textarea,
.content-master .main-content .card-categs .collapse .card-body .card .modal .modal-body .form-edit select,
.content-master .main-content .card-categs .collapsing .card-body .card .modal .modal-body .form-edit input,
.content-master .main-content .card-categs .collapsing .card-body .card .modal .modal-body .form-edit textarea,
.content-master .main-content .card-categs .collapsing .card-body .card .modal .modal-body .form-edit select {
  border: 1px solid #1190CB;
}
.content-master .main-content .card-categs .collapse .card-body .card .modal .modal-body .form-edit .header-form,
.content-master .main-content .card-categs .collapsing .card-body .card .modal .modal-body .form-edit .header-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5rem;
}
.content-master .main-content .card-categs .collapse .card-body .card .modal .modal-body .form-edit .header-form .box-img,
.content-master .main-content .card-categs .collapsing .card-body .card .modal .modal-body .form-edit .header-form .box-img {
  width: 100%;
  height: 12rem;
  border: 1px solid;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
  position: relative;
}
.content-master .main-content .card-categs .collapse .card-body .card .modal .modal-body .form-edit .header-form .box-img label,
.content-master .main-content .card-categs .collapsing .card-body .card .modal .modal-body .form-edit .header-form .box-img label {
  z-index: 12;
  position: absolute;
  top: 0;
  right: 0;
  color: #F27649;
  background-color: rgba(255, 255, 255, 0.8); /* Adicione um fundo branco transparente para melhorar a legibilidade */
  padding: 0 5px 5px 5px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 3rem;
}
.content-master .main-content .card-categs .collapse .card-body .card .modal .modal-body .form-edit .header-form .box-img img,
.content-master .main-content .card-categs .collapsing .card-body .card .modal .modal-body .form-edit .header-form .box-img img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.content-master .main-content .card-categs .collapse .card-body .card .modal .modal-body .form-edit .header-form .datas,
.content-master .main-content .card-categs .collapsing .card-body .card .modal .modal-body .form-edit .header-form .datas {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.content-master .main-content .card-categs .collapse .card-body .card .modal .modal-body .form-edit .header-form .datas .nm-prod,
.content-master .main-content .card-categs .collapsing .card-body .card .modal .modal-body .form-edit .header-form .datas .nm-prod {
  width: 20rem;
}
.content-master .main-content .card-categs .collapse .card-body .card .modal .modal-body .form-edit .header-form .datas .cod-prod,
.content-master .main-content .card-categs .collapsing .card-body .card .modal .modal-body .form-edit .header-form .datas .cod-prod {
  width: 10rem;
}
.content-master .main-content .card-categs .collapse .card-body .card .modal .modal-body .form-edit .header-form .datas .categ-prod,
.content-master .main-content .card-categs .collapsing .card-body .card .modal .modal-body .form-edit .header-form .datas .categ-prod {
  width: 20rem;
}
.content-master .main-content .card-categs .collapse .card-body .card .modal .modal-body .form-edit .header-form .datas .categ-prod select,
.content-master .main-content .card-categs .collapsing .card-body .card .modal .modal-body .form-edit .header-form .datas .categ-prod select {
  cursor: pointer;
}
.content-master .main-content .card-categs .collapse .card-body .card .modal .modal-body .form-edit .header-form .datas .vl-prod,
.content-master .main-content .card-categs .collapsing .card-body .card .modal .modal-body .form-edit .header-form .datas .vl-prod {
  width: 10rem;
}
.content-master .main-content .card-categs .collapse .card-body .card .modal .modal-footer a,
.content-master .main-content .card-categs .collapsing .card-body .card .modal .modal-footer a {
  border-radius: 1rem;
  font-weight: bold;
  color: #fff;
}
.content-master .main-content .card-categs .collapse .card-body .card .modal .modal-footer a.save-edit,
.content-master .main-content .card-categs .collapsing .card-body .card .modal .modal-footer a.save-edit {
  background-color: #1190CB !important;
}
.content-master .main-content .card-categs .collapse .card-body .card .card-img-top,
.content-master .main-content .card-categs .collapsing .card-body .card .card-img-top {
  height: 50%;
}
.content-master .main-content .card-categs .collapse .card-body .card .infos .card-text,
.content-master .main-content .card-categs .collapsing .card-body .card .infos .card-text {
  font-size: 1.1rem;
  font-weight: 400;
}
.content-master .main-content .card-categs .collapse .card-body .card .infos .btn-prod,
.content-master .main-content .card-categs .collapsing .card-body .card .infos .btn-prod {
  text-align: center !important;
  width: auto !important;
  cursor: pointer !important;
  text-decoration: none !important;
  border: none !important;
  color: white !important;
  font-weight: 500 !important;
  border-radius: 12px !important;
  padding: 5px 10px !important;
  transition: all 0.3s !important;
  outline: none !important;
  z-index: 100;
}
.content-master .main-content .card-categs .collapse .card-body .card .infos .btn-prod.on,
.content-master .main-content .card-categs .collapsing .card-body .card .infos .btn-prod.on {
  background-color: #F27649;
}
.content-master .main-content .card-categs .collapse .card-body .card .infos .btn-prod.on:hover,
.content-master .main-content .card-categs .collapsing .card-body .card .infos .btn-prod.on:hover {
  background-color: #1190CB;
}
.content-master .main-content .card-categs .collapse .card-body .card .infos .btn-prod.off,
.content-master .main-content .card-categs .collapsing .card-body .card .infos .btn-prod.off {
  background-color: #1190CB;
}
.content-master .main-content .card-categs .collapse .card-body .card .infos .btn-prod.off:hover,
.content-master .main-content .card-categs .collapsing .card-body .card .infos .btn-prod.off:hover {
  background-color: #F27649;
}

.content-master .nav-custom {
  display: flex;
  flex-direction: row;
  align-items: center !important;
  padding: 0px 35px !important;
  height: 9vh;
}
.content-master .nav-custom button {
  background-color: #1190CB;
  margin: 0;
}
.content-master .main-content {
  height: 90vh;
}
.content-master .main-content .card-orders-bg .orders h2 {
  position: sticky;
  top: 0;
  z-index: 1;
}
.content-master .main-content .card-orders-bg .orders ul#pending-orders .card-orders {
  cursor: pointer;
  padding: 10px 15px !important;
  background-color: rgba(242, 118, 73, 0.85);
}
.content-master .main-content .card-orders-bg .orders ul#pending-orders .card-orders h6 {
  font-size: 1.4rem;
  letter-spacing: 1px;
}
.content-master .main-content .card-orders-bg .orders ul#pending-orders .card-orders h6.num-order {
  width: fit-content;
  padding: 5px;
  border-radius: 10px;
  background-color: #1190cb;
  opacity: 0.9;
}
.content-master .main-content .card-orders-bg .orders ul#pending-orders .card-orders form.buttons-order button.delivery {
  display: none;
}
.content-master .main-content .card-orders-bg .orders ul#pending-orders .card-orders form.buttons-order button.completed {
  display: none;
}
.content-master .main-content .open-orders {
  padding: 0 10px;
}
.content-master .main-content .open-orders #order-details .desc-order {
  display: flex;
  flex-direction: column;
}
.content-master .main-content .open-orders #order-details .desc-order .alert {
  padding: 5px 2rem;
  font-size: 20px;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
}
.content-master .main-content .open-orders #order-details .desc-order .alert div {
  display: flex;
  gap: 10px;
}
.content-master .main-content .open-orders #order-details .desc-order .alert a {
  font-size: 2rem;
  color: #4caf50;
}
.content-master .main-content .open-orders #order-details .desc-order .datas-client {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 1rem 1.3rem;
  font-size: 1rem;
}
.content-master .main-content .open-orders #order-details .desc-order .datas-client .dt-info {
  color: #1190CB;
}
.content-master .main-content .open-orders #order-details .desc-order .datas-client .qt-orders {
  background-color: #F27649;
}
.content-master .main-content .open-orders #order-details .desc-order .datas-client .card-itens {
  text-transform: none;
  margin-top: 1rem;
}
.content-master .main-content .open-orders #order-details .desc-order .datas-client .card-itens .card-header {
  text-align: center;
}
.content-master .main-content .open-orders #order-details .desc-order .datas-client .card-itens .card-footer {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.content-master .main-content .open-orders #order-details .desc-order .datas-client .card-itens .card-footer .total-order {
  color: #008000;
}

.content-master div .card-orders-bg #pending-orders .card-orders {
  cursor: pointer;
  padding: 10px 15px !important;
  background-color: rgba(0, 0, 0, 0.5);
}
.content-master div .card-orders-bg #pending-orders .card-orders h6.num-order {
  width: fit-content;
  padding: 5px;
  border-radius: 10px;
  background-color: #1190cb;
  opacity: 1;
}

.btn:focus,
.btn:active,
.navbar-toggler:active,
.navbar-toggler:focus,
.btn-close:focus,
.btn-close:active {
  outline: none;
  box-shadow: none;
}

.nav-link {
  position: relative;
}
.nav-link .collapse-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s;
}
.nav-link[aria-expanded=true] .collapse-icon {
  transform: translateY(-50%) rotate(90deg);
}
.nav-link .bi-journals {
  margin-right: 10px;
}

.sidebar-content {
  background-color: rgb(245, 245, 245);
  overflow-y: auto;
}
.sidebar-content .header-sidebar .btn-close {
  width: 8;
}
.sidebar-content .header-sidebar .name-shop {
  color: #F27649;
  font-weight: 500;
}
.sidebar-content .header-sidebar .status-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #b0b0b0;
  transition: all 500ms ease-in-out;
  box-shadow: 0 0 0 0 rgba(9, 165, 19, 0.5);
}
.sidebar-content .header-sidebar .status-icon.status-online {
  background-color: #4caf50;
  animation: alerta 1.5s infinite;
  color: #fff;
}
.sidebar-content .header-sidebar .status-icon.status-online i {
  font-size: 28px;
  margin-bottom: 2px;
}
.sidebar-content .header-sidebar .status-icon i {
  font-size: 25px;
}
.sidebar-content .shop-status-card {
  text-align: center;
  background-color: rgba(176, 176, 176, 0.5);
  transition: all 500ms ease-in-out;
}
.sidebar-content .shop-status-card.status-online {
  background-color: rgba(76, 175, 80, 0.5);
}
.sidebar-content .custom-switch .form-check-input, .sidebar-content .custom-switch .form-check-label {
  cursor: pointer;
  user-select: none;
}
.sidebar-content .custom-switch .form-check-input:checked {
  background-color: #4caf50 !important;
}
.sidebar-content .nav li .nav-link {
  font-weight: 500;
  color: #000;
}
.sidebar-content .nav li .nav-link:focus, .sidebar-content .nav li .nav-link:active {
  outline: none;
  box-shadow: 0px 0px 4px 2px rgba(17, 144, 203, 0.5);
  -webkit-box-shadow: 0px 0px 4px 2px rgba(17, 144, 203, 0.5);
  -moz-box-shadow: 0px 0px 4px 2px rgba(17, 144, 203, 0.5);
}
.sidebar-content .nav li .nav-link:hover {
  text-decoration: underline;
}
.sidebar-content .nav li .nav-link .icon-menu {
  font-size: 23px;
  color: #F27649;
}
.sidebar-content .nav li .nav-link.bg-active {
  background-color: rgba(17, 144, 203, 0.9);
}
.sidebar-content .nav li .sub-itens .list-group a {
  cursor: pointer;
}
.sidebar-content .border {
  transition: all 0.2s;
}

@keyframes alerta {
  0% {
    transform: scale();
  }
  70% {
    transform: scale();
    box-shadow: 0 0 0 20px rgba(69, 152, 27, 0);
  }
  100% {
    transform: scale();
    box-shadow: 0 0 0 0 rgba(69, 152, 27, 0);
  }
}
@media (max-width: 500px) {
  .navbar .header-body .page-name {
    margin-top: 7px;
  }
}
.container-main {
  padding: 5vh;
}

.img-profile div img {
  position: relative;
}
.img-profile div button {
  position: relative;
  top: 0;
  right: 0;
}

.box-img {
  width: 100%;
  height: 12rem;
  border: 1px solid;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
  position: relative;
}
.box-img label {
  z-index: 12;
  position: absolute;
  top: 0;
  right: 0;
  color: #F27649;
  background-color: rgba(255, 255, 255, 0.8); /* Adicione um fundo branco transparente para melhorar a legibilidade */
  padding: 0 5px 5px 5px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 3rem;
}
.box-img img {
  width: 100%;
  height: 100%;
}

.icon {
  width: 3rem;
  height: 3rem;
  background-color: #1190CB;
  color: #fff;
  font-size: 1.5rem;
}

.account-data {
  padding: 20px;
  border-bottom: 1px solid grey;
}

.container-data {
  margin: 0 auto;
  width: 80%;
  height: fit-content;
  border: 1px solid grey;
  border-radius: 5px 5px 5px;
  padding: 20px;
  box-shadow: 1px 1px 15px;
  margin-bottom: 100px;
}

.modal-header {
  display: flex;
  height: 100%;
  width: 100%;
}

.address-form {
  width: 100%;
  height: 100%;
}

.address-form input {
  border: 1px solid #1190CB;
  border-radius: 10px 10px 10px;
}

.address-form input:focus {
  border: 0.2px solid #1190CB;
  box-shadow: 1px 1px 10px aqua;
}

@font-face {
  font-family: TN;
  src: url(../fonts/Tilt_Neon/TiltNeon-Regular-VariableFont_XROTYROT.ttf);
}
body {
  font-family: TN;
}

/*# sourceMappingURL=dashbd-style.css.map */
