@font-face {
  font-family: LastEp;
  src: url(../fonts/last_episode/LastEpisodeDEMO-Regular.otf);
}
@font-face {
  font-family: TN;
  src: url(../fonts/Tilt_Neon/TiltNeon-Regular-VariableFont_XROT\,YROT.ttf);
}
html,
body {
  font-family: TN;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  display: grid;
}

.logo:hover {
  animation: anim-logo 0.7s;
}

.font-lep {
  font-family: LastEp;
  letter-spacing: 3px;
}

button {
  outline: none;
}

@keyframes anim-logo {
  0% {
    transform: rotate(4deg);
  }
  25% {
    transform: rotate(-4deg) scale(1.07);
  }
  50% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}
.main-content2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8vh 92vh;
  gap: 0px 0px;
  grid-template-areas: "header" "main";
}

#header {
  grid-area: header;
}
#header #nav-header2 {
  background-color: #FDE3A8;
  padding: 0 30px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
#header #nav-header2 a.link-logo .logo {
  width: 50%;
  height: auto;
}

#main-section2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: main;
  height: 100%;
  background-color: #fff;
}
#main-section2 .bg-pets {
  display: none;
}
#main-section2 #stepForm {
  width: 92%;
  height: 95%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#main-section2 #stepForm .form-step {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 30px 25px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 6px 6px 23px #a3a3a3, -6px -6px 23px #fff;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
#main-section2 #stepForm .form-step h2 {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 2px;
}
#main-section2 #stepForm .form-step .inps {
  height: auto;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
#main-section2 #stepForm .form-step .inps.small-inps {
  flex-direction: row;
}
#main-section2 #stepForm .form-step .inps.small-inps .box-small-inps {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}
#main-section2 #stepForm .form-step .inps.small-inps input {
  width: 11rem;
}
#main-section2 #stepForm .form-step .inps.small-inps input#neighborh {
  width: 15rem;
}
#main-section2 #stepForm .form-step .inps.small-inps input#number {
  width: 7rem;
}
#main-section2 #stepForm .form-step .inps span {
  align-self: self-start;
  color: rgb(255, 0, 0);
}
#main-section2 #stepForm .form-step .inps label, #main-section2 #stepForm .form-step .inps #div-main .form-content .form-signup-login .login .form p, #div-main .form-content .form-signup-login .login .form #main-section2 #stepForm .form-step .inps p, #main-section2 #stepForm .form-step .inps #div-main .form-content .form-signup-login .register .form p, #div-main .form-content .form-signup-login .register .form #main-section2 #stepForm .form-step .inps p {
  font-size: 1.3rem;
  width: fit-content;
  cursor: pointer;
  align-self: self-start;
  transition: all 0.5s;
}
#main-section2 #stepForm .form-step .inps label::after, #main-section2 #stepForm .form-step .inps #div-main .form-content .form-signup-login .login .form p::after, #div-main .form-content .form-signup-login .login .form #main-section2 #stepForm .form-step .inps p::after, #main-section2 #stepForm .form-step .inps #div-main .form-content .form-signup-login .register .form p::after, #div-main .form-content .form-signup-login .register .form #main-section2 #stepForm .form-step .inps p::after {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  background-color: #000;
  transition: all 0.5s;
}
#main-section2 #stepForm .form-step .inps input {
  width: 22rem;
  letter-spacing: 1px;
  height: 32px;
  font-size: 1.07em;
  padding: 18px 10px;
  outline: none;
  border: 0.1rem solid #F27649;
  border-radius: 8px;
}
#main-section2 #stepForm .form-step .inps input.error {
  border: 2px solid rgb(255, 0, 0);
}
#main-section2 #stepForm .form-step .inps input.error ~ label, #main-section2 #stepForm .form-step .inps #div-main .form-content .form-signup-login .login .form input.error ~ p, #div-main .form-content .form-signup-login .login .form #main-section2 #stepForm .form-step .inps input.error ~ p, #main-section2 #stepForm .form-step .inps #div-main .form-content .form-signup-login .register .form input.error ~ p, #div-main .form-content .form-signup-login .register .form #main-section2 #stepForm .form-step .inps input.error ~ p {
  color: rgb(255, 0, 0);
  font-weight: 500;
}
#main-section2 #stepForm .form-step .inps input.error ~ label::after, #main-section2 #stepForm .form-step .inps #div-main .form-content .form-signup-login .login .form input.error ~ p::after, #div-main .form-content .form-signup-login .login .form #main-section2 #stepForm .form-step .inps input.error ~ p::after, #main-section2 #stepForm .form-step .inps #div-main .form-content .form-signup-login .register .form input.error ~ p::after, #div-main .form-content .form-signup-login .register .form #main-section2 #stepForm .form-step .inps input.error ~ p::after {
  background-color: rgb(255, 0, 0);
}
#main-section2 #stepForm .form-step .inps input.valid {
  border: 1px solid #1190CB;
}
#main-section2 #stepForm .form-step .inps input:focus ~ label::after, #main-section2 #stepForm .form-step .inps #div-main .form-content .form-signup-login .login .form input:focus ~ p::after, #div-main .form-content .form-signup-login .login .form #main-section2 #stepForm .form-step .inps input:focus ~ p::after, #main-section2 #stepForm .form-step .inps #div-main .form-content .form-signup-login .register .form input:focus ~ p::after, #div-main .form-content .form-signup-login .register .form #main-section2 #stepForm .form-step .inps input:focus ~ p::after {
  width: 100%;
}
#main-section2 #stepForm .form-step .btns-step {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
#main-section2 #stepForm .form-step .btns-step button {
  width: 85%;
  height: 40px;
  margin: 12px auto 10%;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease-in;
  width: 10rem;
  height: 3rem;
}
#main-section2 #stepForm .form-step .btns-step button.next-button, #main-section2 #stepForm .form-step .btns-step button.submit-button {
  background-color: #F27649;
}
#main-section2 #stepForm .form-step .btns-step button.next-button:hover, #main-section2 #stepForm .form-step .btns-step button.submit-button:hover {
  background-color: #fff;
  border: 2px solid #F27649;
  color: #F27649;
}
#main-section2 #stepForm .form-step .btns-step button.prev-button {
  background-color: #1190CB;
}
#main-section2 #stepForm .form-step .btns-step button.prev-button:hover {
  background-color: #fff;
  border: 2px solid #1190CB;
  color: #1190CB;
}
#main-section2 #stepForm .form-step .box-datas {
  margin-bottom: 15px;
  overflow-y: auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.1rem;
  border: 1px solid #F27649;
  border-radius: 12px;
  padding: 25px 15px;
}
#main-section2 #stepForm .form-step .box-datas p {
  padding: 8px 0;
}

#modalForm div div div h1 #span-name {
  color: #F27649;
}

@media only screen and (min-width: 900px) {
  #main-section2 {
    padding: 0 0 0 20px;
    gap: 20px;
  }
  #main-section2 .bg-pets {
    border-radius: 2px;
    display: block !important;
    min-width: 55%;
    height: 100%;
    background-image: url("../../imgs/bgPets.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }
  .form-submitted {
    width: 50%;
    height: 35%;
  }
}
.content-master {
  width: 100vw;
  height: 100vh;
}
.content-master #header .sidebar-content .header-sidebar {
  display: flex;
  justify-content: start;
}
.content-master #header .sidebar-content .header-sidebar .btn-close {
  font-size: 1.5rem;
  outline: none;
  box-shadow: none;
}
.content-master #header .sidebar-content .navbar-nav {
  font-size: 1.2rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.content-master #header .sidebar-content .navbar-nav .nav-link {
  box-shadow: none;
}
.content-master #header .sidebar-content .navbar-nav .nav-link:hover {
  opacity: 0.7;
}
.content-master #header .sidebar-content .navbar-nav .btns {
  display: flex;
  gap: 10px;
}
.content-master #header .sidebar-content .navbar-nav .btns button {
  font-size: 1.1rem;
  color: #fff;
  font-weight: bold;
}
.content-master #header .sidebar-content .navbar-nav .btns button.btn-login {
  background-color: #F27649;
}
.content-master #header .sidebar-content .navbar-nav .btns button.btn-signup {
  background-color: #1190CB;
}
.content-master .navbar {
  height: 10vh;
  background-color: #fff !important;
}
.content-master .navbar .container-fluid .navbar-brand {
  width: 12%;
  margin-right: 3rem;
  padding-bottom: 0;
}
.content-master .navbar .container-fluid .navbar-brand img {
  width: 100%;
}
.content-master .navbar .container-fluid .navbar-toggler {
  outline: none;
  box-shadow: none;
}
.content-master .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
  margin: 0 1rem;
}
.content-master .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
  box-shadow: none;
}
.content-master .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link.text {
  color: #000 !important;
  font-weight: bold;
}
.content-master .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link.text:hover {
  opacity: 0.7;
}
.content-master .navbar .container-fluid .navbar-collapse .btns {
  display: flex;
  gap: 10px;
}
.content-master .navbar .container-fluid .navbar-collapse .btns button {
  font-size: 1.1rem;
  color: #fff;
  font-weight: bold;
}
.content-master .navbar .container-fluid .navbar-collapse .btns button.btn-login {
  background-color: #F27649;
}
.content-master .navbar .container-fluid .navbar-collapse .btns button.btn-signup {
  background-color: #1190CB;
}

#div-main {
  width: 100vw;
  height: 90vh;
  --bs-gutter-x: 0;
  background-color: #FDE3A8;
}
#div-main .bg-pets {
  height: 100%;
  background-image: url("../imgs/bgPets.svg");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
}
#div-main .form-content {
  height: 100%;
  background-color: transparent;
  padding: 0.5rem 1rem;
}
#div-main .form-content .form-signup-login {
  user-select: none;
  background-color: #F27649;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 7px 7px 20px 10px rgba(36, 0, 70, 0.1568627451);
  transition: all 0.5s;
}
#div-main .form-content .form-signup-login .register {
  max-width: 100%;
  height: 100%;
  transition: all 0.4s;
  background-color: #F27649;
}
#div-main .form-content .form-signup-login .register.remove-register {
  transform: translateY(-100%);
}
#div-main .form-content .form-signup-login .register .form {
  max-width: 100%;
  height: 100%;
  transition: all 0.4s;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 14px;
  padding: 24px;
}
#div-main .form-content .form-signup-login .register .form label, #div-main .form-content .form-signup-login .register .form p {
  width: 100%;
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
}
#div-main .form-content .form-signup-login .register .form p {
  font-size: 1.5rem;
}
#div-main .form-content .form-signup-login .register .form .input {
  width: 100%;
  height: 40px;
  background: rgb(245, 245, 245);
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 4px;
}
#div-main .form-content .form-signup-login .register .form button {
  width: 85%;
  height: 40px;
  margin: 12px auto 10%;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease-in;
  font-size: 1.2rem;
  width: 50%;
}
#div-main .form-content .form-signup-login .register .form button.signup {
  background-color: transparent;
}
#div-main .form-content .form-signup-login .register .form button.signup:hover {
  background-color: #fff;
  color: #F27649;
}
#div-main .form-content .form-signup-login .register .form button.login {
  background-color: transparent;
}
#div-main .form-content .form-signup-login .register .form button.login:hover {
  background-color: #fff;
  color: #1190CB;
}
#div-main .form-content .form-signup-login .register .form button + p {
  font-size: 1.1rem;
}
#div-main .form-content .form-signup-login .register .form button + p span.link-login {
  text-decoration: underline;
  cursor: pointer;
}
#div-main .form-content .form-signup-login .register .form button + p span.link-login:hover {
  opacity: 0.7;
}
#div-main .form-content .form-signup-login .login {
  max-width: 100%;
  height: 100%;
  transition: all 0.4s;
  background-color: #1190CB;
  transform: translateY(100%);
}
#div-main .form-content .form-signup-login .login.show-login {
  transform: translateY(-100%);
}
#div-main .form-content .form-signup-login .login .form {
  max-width: 100%;
  height: 100%;
  transition: all 0.4s;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 14px;
  padding: 24px;
}
#div-main .form-content .form-signup-login .login .form label, #div-main .form-content .form-signup-login .login .form p {
  width: 100%;
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
}
#div-main .form-content .form-signup-login .login .form p {
  font-size: 1.5rem;
}
#div-main .form-content .form-signup-login .login .form .input {
  width: 100%;
  height: 40px;
  background: rgb(245, 245, 245);
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 4px;
}
#div-main .form-content .form-signup-login .login .form button {
  width: 85%;
  height: 40px;
  margin: 12px auto 10%;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease-in;
  font-size: 1.2rem;
  width: 50%;
}
#div-main .form-content .form-signup-login .login .form button.signup {
  background-color: transparent;
}
#div-main .form-content .form-signup-login .login .form button.signup:hover {
  background-color: #fff;
  color: #F27649;
}
#div-main .form-content .form-signup-login .login .form button.login {
  background-color: transparent;
}
#div-main .form-content .form-signup-login .login .form button.login:hover {
  background-color: #fff;
  color: #1190CB;
}
#div-main .form-content .form-signup-login .login .form button + p {
  font-size: 1.1rem;
}
#div-main .form-content .form-signup-login .login .form button + p span.link-login {
  text-decoration: underline;
  cursor: pointer;
}
#div-main .form-content .form-signup-login .login .form button + p span.link-login:hover {
  opacity: 0.7;
}
#div-main .form-content .form-signup-login .login .form .link-register {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 780px) {
  .content-master #header .navbar .container-fluid .navbar-brand {
    width: 20%;
  }
}

/*# sourceMappingURL=style.css.map */
