@import "./outhers/colors.scss";

@font-face {
  font-family: LastEp;
  src: url(../fonts/last_episode/LastEpisodeDEMO-Regular.otf);
}

@font-face {
  font-family: TN;
  src: url(../fonts/Tilt_Neon/TiltNeon-Regular-VariableFont_XROT\YROT.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  p,
  h1,
  h2,
  h3,
  h4,
  h5 {
    padding: 0;
    margin: 0;
  }
}

body {
  height: 100vh;
  background-color: #d9d9d9;
  .navbar {
    width: 100%;

    .header-body {
      .btn-hamb {
        background-color: $secondary-color;
      }

      .page-name {
        text-decoration: underline;
      }
    }
  }

  #opt-name {
    cursor: pointer;
  }
}

@import "./pages/sidebar.scss";
@import "./pages/manager.scss";
@import "./pages/order-history.scss";
@import "./pages/my-products.scss";
@import "./pages/manager.scss";
@import "./pages/order-history.scss";
@import "./pages/sidebar.scss"; 
@import "./pages/pconfig.scss";  

@font-face {
  font-family: TN;
  src: url(../fonts/Tilt_Neon/TiltNeon-Regular-VariableFont_XROT\YROT.ttf);
}
body {
  font-family: TN;
}
