@import "./outhers/colors.scss";

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;

  p,
  h1,
  h2,
  h3,
  h4,
  h5 {
    padding: 0;
    margin: 0;
  }
}

body {
  height: 100vh;
  background-color: #d9d9d9;

  .navbar {
    width: 100%;

    .header-body {
      .btn-hamb {
        background-color: $secondary-color;
      }

      .page-name {
        text-decoration: underline;
      }
    }
  }

  #opt-name {
    cursor: pointer;
  }
}

@import "./pages/sidebar.scss";
@import "./pages/manager.scss";
@import "./pages/order-history.scss";
@import "./pages/my-products.scss";