@import "../outhers/colors.scss";

.content-master {
    width: 100vw;
    height: 100vh;
  .main-content {
    width: 100%;
    height: auto;
    section {
      &.orders {
        width: 30%;
        height: 100%;
        border-right: 2px solid;
        display: block;
      }
      &.open-orders {
        width: 70%;
        height: 100%;
      }
    }
  }
}
