@import "../outhers/colors.scss";

.content-master{
    div{
        .card-orders-bg{
            #pending-orders{
                .card-orders {
                    cursor: pointer;
                    padding: 10px 15px!important;
                    background-color: rgba($black-text, $alpha: 0.5);
                    h6.num-order{
                      width: fit-content;
                      padding: 5px;
                      border-radius: 10px;
                      background-color: rgba($secondary-color, $alpha: 1);
                      opacity: 1;
                    }
                  }
            }
        }
    }
}