@import "../outhers/colors.scss";

.nav-link {
  position: relative;

  .collapse-icon {
    position: absolute;
    right: 10px; // Ajuste a posição horizontal conforme necessário
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s;
  }

  &[aria-expanded="true"] {
    .collapse-icon {
      transform: translateY(-50%) rotate(90deg);
    }
  }
  .bi-journals {
    margin-right: 10px;
  }
}

.sidebar-content {
  .header-sidebar {
    .shop-status {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: rgb(86, 196, 86);
      i {
        font-size: 25px;
      }
    }
  }

  .shop-status-card {
    text-align: center;
    background-color: rgba(86, 196, 86, 0.5);
  }

  .nav {
    li {
      .nav-link {
        &:hover{
          text-decoration: underline;
        }
        color: $black-text;
        .icon-menu {
          font-size: 22px;
          color: $primary-color;
          font-weight: bold;
        }
      }
    }
  }
}
